
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <span class="glyphicon glyphicon-list-alt"></span>
        <h2>Calendar</h2>
        <div class="box">
            @
            <input type="text" placeholder="username">
            <input type="password" placeholder="password">
            <button class="btn btn-default full-width"><span class="glyphicon glyphicon-ok"></span></button>
        </div>
    </div>
</div>

@section Styles{
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
}